html, body
{
    line-height: 2em;
    font-size: 12pt;
}

a
{
    line-height: 1em;
    padding: .5em 1em;
    border-radius: 10pt;
    background: #00f;
    color: #fff;
    text-decoration: none;
}

a:hover
{
    background: rgba(0,0,255,.75);
}

a>svg
{
    vertical-align: middle;
}

